:root{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
header{

    height: 100px;
    width: auto;
    margin: 10px;
    background-image: linear-gradient(to left,var(--bs-success), var(--bs-success-bg-subtle));
}
#weather-card1{
    display: flex;
    justify-content: left;
    grid-column: 1/1;
    /* border: 5px solid white; */
}
#weather-card2{
    display: flex;
    justify-content: left;
    grid-column: 2/2;
    /* border: 5px solid white; */
}
#weather-card3{
    display: flex;
    justify-content: left;
    grid-column: 3/3;
    /* border: 5px solid white; */
}
#weather-card4{
    display: flex;
    justify-content: left;
    grid-column: 4/4;
    /* border: 5px solid white; */
}
#weather-card5{
    display: flex;
    justify-content: left;
    grid-column: 5/5;
    /* border: 5px solid white; */
}
main{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 1;
}
#five-days{
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    /* width: 3000px; */
    height: auto;
    width: 100%;
    

}
#city-searches{

    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    height: 100%;
    
    background-color:var(--bs-success);
}
#weather-today{
    margin-left: 30px;
    /* background-color: purple; */
    width: 100%;
    height: 240px;
}
#daily-cards{
    margin-left: 30px;
    margin-top: 10px;
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto auto;
    /* gap: 10px; */
    /* background-color: orangered; */
    /* padding: 10px; */
}
#right-padding{
    position: relative;
    right: 0;
    width: 200px;
    height: auto;
    /* background-color: blue; */
    right: 0;
}
footer{
    height: 100px;
    /* background-color: red; */
    width: 100%;
}
.card-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    /* height: 300px; */
    margin-top: 10px;
    padding-bottom: 10px;
    border: 1px solid grey;
    background-image: linear-gradient(to right,var(--bs-success), var(--bs-success-bg-subtle));
}
#card-main-date{
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* border: 5px solid green; */
    font-weight: bolder;
    font-size: 20px;
    height: 25%;
}
#card-main-wind, #card-main-humid, #card-main-temp{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 25%;
    /* border: 5px solid green; */
}
.card{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    width: 200px;
    height: 200px;
    margin-top: 10px;
    padding: 8px;
    background-image: linear-gradient(to right,var(--bs-success), var(--bs-success-bg-subtle));
}
/* .card-date{
    border: 5px solid green;
    font-weight: bolder;
    font-size: 20px;
    height: 20%;
} */

.card p{
    /* height: 20%;
    border: 5px solid green; */
}
.card img{
    height: 20%;
    width: 40px;
}
/* .card-temp{
    height: 20%;
    border: 5px solid green;
} */
/* .card-wind{
    height: 20%;
    border: 5px solid green;
} */
/* .card-humid{
    height: 20%;
    border: 5px solid green;
} */
#search-box{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-bottom:15px ;
    border-bottom: 2px solid lightgray;
}
#search-history{
    margin-bottom: 10px;
}
button{
    width:100%;
}
#city-label{
    font-weight: bolder;
    font-size: 28px;
}
.old-search{
    display: flex;
    width: auto;
    height: 40px;
    background-color: darkslategrey;
    margin: 15px;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 0;
}
#search-history .old-search:hover{
    cursor: pointer;
}