:root{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
header{

    height: 100px;
    width: auto;
    margin: 10px;
    background-image: linear-gradient(to left,var(--bs-success), var(--bs-success-bg-subtle));
}
#weather-card1{
    display: flex;
    justify-content: left;
    grid-column: 1/1;
    /* border: 5px solid white; */
}
#weather-card2{
    display: flex;
    justify-content: left;
    grid-column: 2/2;
    /* border: 5px solid white; */
}
#weather-card3{
    display: flex;
    justify-content: left;
    grid-column: 3/3;
    /* border: 5px solid white; */
}
#weather-card4{
    display: flex;
    justify-content: left;
    grid-column: 4/4;
    /* border: 5px solid white; */
}
#weather-card5{
    display: flex;
    justify-content: left;
    grid-column: 5/5;
    /* border: 5px solid white; */
}
main{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 1;
}
#five-days{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    /* width: 3000px; */
    height: auto;
    width: 100%;
    

}
#city-searches{

    width: 20%;
    height: auto;
    background-color: green;
}
#weather-today{
    margin-left: 30px;
    background-color: purple;
    width: 100%;
    height: 320px;
}
#daily-cards{
    margin-left: 30px;
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: auto auto auto auto auto;
    /* gap: 10px; */
    background-color: orangered;
    /* padding: 10px; */
}
#right-padding{
    position: relative;
    right: 0;
    width: 200px;
    height: auto;
    background-color: blue;
    right: 0;
}
footer{
    height: 100px;
    background-color: red;
    width: 100%;
}
.card-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    height: 300px;
    /* margin-top: 10px; */
}
#card-main-date{
    border: 5px solid green;
    font-weight: bolder;
    font-size: 20px;
    height: 80px;
}
#card-main-temp{
    height: 80px;
    border: 5px solid green;
}
#card-main-wind{
    height: 80px;
    border: 5px solid green;
}
#card-main-humid{
    height: 80px;
    border: 5px solid green;
}
.card{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    height: 200px;
    margin-top: 10px;
}
.card-date{
    border: 5px solid green;
    font-weight: bolder;
    /* font-size: 20px; */
    height: 20%;
}
.card-icon{
    height: 20%;
    border: 5px solid green;
}
.card-temp{
    height: 20%;
    border: 5px solid green;
}
.card-wind{
    height: 20%;
    border: 5px solid green;
}
.card-humid{
    height: 20%;
    border: 5px solid green;
}
#search-box{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-bottom:15px ;
    border-bottom: 2px solid lightgray;
}
#search-history{
    margin-bottom: 10px;
}
button{
    width:100%;
}
#city-label{
    font-weight: bolder;
    font-size: 28px;
}
.old-search{
    display: flex;
    width: auto;
    height: 40px;
    background-color: pink;
    margin: 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    padding: 0;
}
.old-search:hover{
    cursor: pointer;
}